#menu {
    height: 70px;
}

#logo {
    margin-top: 10px;
    height: 46px;
    width: 36px;
}

#root {
    margin-top: 2em;
}

#btnBancos {
    width: 195px !important;
    height: 36px !important;
}

#divBancos {
    margin-top: 2em;
}

#icones-menu-expansivel {
    padding-top: 5px;
}

#logo-informativo{
    width: 200px;
    height: auto;
    margin-top: 2em;
}
